form(method="post", id="user-model-form")
	table
		tr
			td Förnamn
			td
				input( name="member[firstname]", id="editFirstName")
		tr
			td Efternamn
			td 
				input( name="member[lastname]", id="editLastName")
		tr
			td  Adress
			td 
				input( name="member[address]", id="editAddress")
		tr
			td Postnummer
			td 
				input( name="member[postalcode]", id="editPostnummer")
		tr
			td Stad
			td 
				input( name="member[city]", id="editStad")
		tr
			td Epost
			td 
				input( name="member[email]", id="editEpost")
		tr
			td 
				input(type="Submit", name="Spara")
