form(method="post", id="user-model-form")
	ul
		li 
			span Förnamn
			input( name="member[firstname]", id="editFirstName")
		li
			span Efternamn
			input( name="member[lastname]", id="editLastName")
		li
			span Adress
			input( name="member[address]", id="editAddress")
		li
			span Postnummer
			input( name="member[postalcode]", id="editPostnummer")
		li
			span Stad
			input( name="member[city]", id="editStad")
		li
			span Epost
			input( name="member[email]", id="editEpost")
		li
			input(type="Submit", name="Spara")
