form(method="post", id="user-model-form")
	table
		tr
			td(align="right") förnamn
			td
				input( name="member[firstname]", id="editFirstName")
		tr
			td(align="right") efternamn
			td 
				input( name="member[lastname]", id="editLastName")
		tr
			td(align="right")  adress
			td 
				input( name="member[address]", id="editAddress")
		tr
			td(align="right") postnummer
			td 
				input( name="member[postalcode]", id="editPostnummer")
		tr
			td(align="right") stad
			td 
				input( name="member[city]", id="editStad")
		tr
			td(align="right") epost
			td 
				input( name="member[email]", id="editEpost")
		tr
			td 
				input(type="Submit", name="Spara")
