.row
  .span4
    h2 Testar en lista
    ul
      li första punkten
      li andra punkten
      li tredje punkten
  .span6
    h1 Hello World!
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et nisl et tellus suscipit tincidunt quis vitae odio. Pellentesque enim lorem, interdum nec blandit non, ultricies vel arcu. Mauris ac vestibulum odio. Ut iaculis vestibulum dui, sit amet posuere tortor pellentesque ac. Suspendisse at nisi in libero adipiscing lobortis nec sit amet ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a mauris sed tellus lacinia pretium a eu eros.
    p In diam augue, posuere sit amet aliquam ut, feugiat vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultricies scelerisque lacus, sit amet fermentum eros vehicula a. Suspendisse quis euismod orci. Suspendisse potenti. Aenean at enim arcu. Praesent euismod dignissim leo, sit amet porta odio pellentesque rutrum. Morbi elementum pulvinar mattis. Vestibulum nec tortor vitae metus tristique convallis. Fusce ultricies euismod est sed mattis. Nullam dapibus eleifend tortor eu aliquam. In ut quam vel velit feugiat dapibus. Etiam nulla tellus, fermentum non bibendum eget, dapibus vitae nulla.
  .span4
    blockquote 
      p Testar ett blockquote
      small med referens