!!! transitional
html(xmlns='http://www.w3.org/1999/xhtml', dir='ltr', lang='sv-SE')
  head(profile='http://gmpg.org/xfn/11')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Frukostfralla
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='canonical', href='http://frukostfralla.se/')
    .navbar
      .navbar-inner
        .container
          a(class='brand', href='http://www.google.se') google.se
          ul.nav
            li.active
              a(href='#') Frukostfralla 
            li.active
              a(href='#') Länk1
            li.active
              a(href='/members') Medlemmar 

  body
    !=body
